body {
  background-color: palegoldenrod;
}

/* .jumbotron {
    position: relative;
} */

#image {
    background: url("../images/collage.jpg") no-repeat;
    background-size: cover;
    background-position: bottom center;
    text-align: center;
    /* filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1; */
}

h1 {
    font-weight: bold;
    color: white;
}

.card-header {
    color: royalblue;
}

th, td {
    text-align: center;
}