body {
  background-color: palegoldenrod;
}

#image {
    background: url("../images/collage.jpg") no-repeat;
    background-size: cover;
    background-position: bottom center;
    text-align: center;
}

h1 {
    font-weight: bold;
    color: white;
}

.card-header {
    font-weight: bold;
    color: royalblue;
}

th, td {
    text-align: center;
}